<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.SpeakerDao">
    <select id="findAllSpraker" resultType="Speaker">
        select * from videosys.speaker;
    </select>

    <select id="findSpeakerSum" resultType="Integer">
        select count(1) from videosys.speaker;
    </select>

    <insert id="add" parameterType="Speaker">
        insert into videosys.speaker (speaker_name, speaker_desc, speaker_job, head_img_url)
        values (#{speakerName},#{speakerDesc},#{speakerJob},#{headImgUrl});
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from videosys.speaker where id = #{id};
    </delete>

    <select id="findById" parameterType="Integer" resultType="Speaker">
        select * from videosys.speaker where id = #{id};
    </select>

    <update id="update" parameterType="Speaker">
        update videosys . speaker
        set speaker_name = #{speakerName},
            speaker_desc = #{speakerDesc},
            speaker_job  = #{speakerJob},
            head_img_url = #{headImgUrl}
        where id = #{id};
    </update>
</mapper>