<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.UserDao">
    <select id="adminFindByCode" parameterType="string" resultType="Admin">
        select *
        from videosys.admin
        where username = #{username};
    </select>

    <select id="userFindByCode" parameterType="string" resultType="User">
        select *
        from videosys.user
        where email = #{email};
    </select>
    
    <update id="updatePassword" parameterType="User">
        update videosys.user set password = #{password} where id = #{id};
    </update>

    <update id="updataImgUrl" parameterType="User">
        update videosys.user set imgUrl = #{imgUrl} where id = #{id};
    </update>
</mapper>